<div class="p-3" style="height: 93vh; overflow-y: scroll;">
  <div class="col-10 offset-1 mt-3">
    <div class="card p-3">
      <div *ngIf="groups$ | async as allGroupsDetails" class="card-body">
        <h4>Your groups</h4>
        <p>Total groups you joined: <span>{{allGroupsDetails.groups.length}}</span></p>
        <hr>
        <ul class="list-group">
          <li *ngFor="let group of allGroupsDetails.groups" class="list-group-item">
            <a [routerLink]="'/group/'+group.Group.id">{{group.Group.name}}</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
