<app-nav-bar></app-nav-bar>
<div class="container-fluid n1">
  <div class="row">
    <div class="col-sm-3 pl-0">
      <app-side-bar></app-side-bar>
    </div>
    <div class="col-sm-9 pl-0 pr-0" id="main">
      <div class="p-3" style="height: 93vh; overflow-y: scroll;">
        <div class="col-10 offset-1 mt-3">
          <div class="card p-3">
            <div class="card-body">
              <h4>Your groups</h4>
              <p>Total groups you joined: 20</p>
              <hr>
              <ul class="list-group">
                <li class="list-group-item"><a routerLink="/group">Andela</a></li>
                <li class="list-group-item"><a routerLink="/group/send-message">Sport</a></li>
                <li class="list-group-item">Soccer</li>
                <li class="list-group-item">Wrestling</li>
                <li class="list-group-item">Ellen</li>
                <li class="list-group-item">Jimoh</li>
                <li class="list-group-item">Johadi</li>
                <li class="list-group-item">Morgaan</li>
                <li class="list-group-item">Monica</li>
                <li class="list-group-item">Ellen</li>
                <li class="list-group-item">Jimoh</li>
                <li class="list-group-item">Johadi</li>
                <li class="list-group-item">Morgaan</li>
                <li class="list-group-item">Monica</li>
                <li class="list-group-item">Ellen</li>
                <li class="list-group-item">Jimoh</li>
                <li class="list-group-item">Johadi</li>
                <li class="list-group-item">Morgaan</li>
                <li class="list-group-item">Monica</li>
                <li class="list-group-item">Ellen</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
