DEV_DB_PASSWORD=null
DEV_DB_NAME=dev_db_name
TEST_DB_NAME=test_db_name
TEST_DB_PASSWORD=null,
TEST_PORT=your_port
DEV_HOST=127.0.0.1
JWT_SECRET=yoursecret,
MAIL_USERNAME=yourusername
MAIL_PASSWORD=yourpassword
TWILIO_ACCOUNT_SID=yourtwiliosid
TWILIO_AUTH_TOKEN=yourtwilioauthtoken
TWILIO_FROM_NUMBER=yourtwiliofromnumber
TWILIO_TO_SAMPLE_NUMBER=twiliosamplenumber
API_HOST:yourapihost
