<div class="row  mt-4">
  <div class="offset-2 col-8  pr-lg-5 pl-lg-5">
    <h5 class="text-center">New message</h5>
    <div class="card mt-3">
      <div class="card-body p-4">
        <div class="col-12 well well-lg" style="background-color: #FCFCFC">
          <form (ngSubmit)="onSumbit()" [formGroup]="messageForm">
            <div *ngIf="createMessageError$ | async as createMessageError" class="alert alert-danger alert-dismissible fade show" role="alert">
              {{createMessageError}}
              <button (click)="onDismissAlert()" type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="form-group">
              <textarea rows="5" class="form-control" formControlName="message" name="message" placeholder="Type your message"></textarea>
            </div>
            <div class="form-group">
              <select class="form-control" formControlName="priority" name="priority">
                <option value="normal">Normal</option>
                <option value="urgent">Urgent</option>
                <option value="critical">Critical</option>
              </select>
            </div>
            <button type="submit" class="btn btn-primary btn-dark btn-block">Post message</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
