<div class="row">
  <div class="offset-1 col-lg-10">
    <div class="card">
      <div class="card-body">
        <h4 class="mb-3">Add members to Wixing group</h4>
        <form [formGroup]="searchForm">
          <div class="form-group">
            <input type="text" formControlName="search" class="form-control" name="username" aria-describedby="mHelp" placeholder="Search User">
            <small id="mHelp" class="form-text text-muted">You can search by Username or Email.</small>
          </div>
        </form>
        <p>Search result appears here</p>
        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
            <tr>
              <th scope="col">Username</th>
              <th scope="col">Name</th>
              <th scope="col">Email</th>
              <th scope="col">Avatar</th>
              <th scope="col">Add</th>
            </tr>
            </thead>
            <tbody *ngIf="searchResult$ | async as searchResult">
            <tr *ngFor="let user of searchResult.allUsers">
              <td>{{user.username}}</td>
              <td>{{user.fullname}}</td>
              <td>{{user.email}}</td>
              <td>
                <img
                  class="img-thumbnail rounded-circle"
                  [src]="user.avatarPath ? user.avatarPath : userService.getDefaultAvatarPath"
                  width="35"
                  height="35"
                  alt="Generic placeholder image"
                >
              </td>
              <td>
                <button class="btn btn-primary btn-block btn-sm"
                        appSetAddUserButton
                        [groupId]="groupId"
                        [currentGroupUsersIds]="searchResult.groupUsersId"
                        [searchedUser]="user"
                >
                  Add
                </button>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
