<div *ngIf="isLoading">Loading...</div>
<div *ngIf="!isLoading" class="container-fluid" style="margin-top: -50px">
  <div class="row header">
    <p>YouPost</p>
  </div>
  <div class="row main-wrapper">
    <div class="offset-3 col-6 inner-wrapper">
      <h1 class="heading-text">YouPost</h1>
      <p>We understand <strong>Communication</strong> is a human connection that serves as key to personal and career success. <strong>
        <i>YouPost</i></strong> helps you achieve this</p>
      <!-- Button trigger modal -->
      <button type="button" class="btn btn-primary mr-1" data-toggle="modal" data-target="#signinModal">
        Login now
      </button>
      <!-- Button trigger modal -->
      <button type="button" class="btn btn-danger ml-1" data-toggle="modal" data-target="#signupModal">
        Register now
      </button>
      <hr>
      <div>
        <a routerLink="/dashboard">Dashboard</a>
        <a routerLink="/groups">Groups</a>
        <a routerLink="/group">Board</a>
        <a routerLink="/group/users">Users</a>
        <a routerLink="/group/send-message">Send Message</a>
        <a routerLink="/group/view-message">View Message</a>
      </div>
    </div>
  </div>
  <div class="row footer">
    <p>Copyright &copy; Johadi YouPost 2018</p>
  </div>
</div>

<!-- Signup Modal -->
<div class="modal fade" id="signupModal" tabindex="-1" role="dialog" aria-labelledby="signupModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="signupModalLabel">Register</h5>
        <button #signupClose type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="signupForm">
          <div *ngIf="signupErrorMessage" class="alert alert-danger alert-dismissible fade show" role="alert">
            {{signupErrorMessage}}
            <button (click)="onDismissAlert()" type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="form-group">
            <input type="text" formControlName="username" class="form-control" name="username" placeholder="Username">
            <small *ngIf="signupValidationError['username']" class="form-text text-danger">{{signupValidationError['username']}}</small>
          </div>
          <div class="form-group">
            <input formControlName="fullname" type="text" class="form-control" name="fullname" placeholder="Full name">
            <small *ngIf="signupValidationError['fullname']" class="form-text text-danger">{{signupValidationError['fullname']}}</small>
          </div>
          <div class="form-group">
            <input formControlName="email" type="email" class="form-control" name="email" aria-describedby="emailSignupHelp" placeholder="Email">
            <small *ngIf="signupValidationError['email']" class="form-text text-danger">{{signupValidationError['email']}}</small>
          </div>
          <div class="form-group">
            <input formControlName="mobile" type="text" class="form-control" name="mobile" placeholder="Mobile number">
            <small *ngIf="signupValidationError['mobile']" class="form-text text-danger">{{signupValidationError['mobile']}}</small>
          </div>
          <div class="form-group">
            <input formControlName="password" type="password" class="form-control" name="password" placeholder="Password">
            <small *ngIf="signupValidationError['password']" class="form-text text-danger">{{signupValidationError['password']}}</small>
          </div>
          <div class="form-group">
            <input formControlName="confirmPassword" type="password" class="form-control" name="confirmPassword" placeholder="Confirm password">
            <small
              *ngIf="signupValidationError['confirmPassword']"
              class="form-text text-danger">{{signupValidationError['confirmPassword']}}
            </small>
          </div>
          <button  (click)="onSignup()" type="submit" class="btn btn-primary btn-display">Signup</button>
        </form>
        <br>
        <p>Already have an account ? <a data-dismiss="modal" data-toggle="modal" href="#signinModal">login</a></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<!-- SIgnin Modal -->
<div class="modal fade" id="signinModal" tabindex="-1" role="dialog" aria-labelledby="signinModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="signinModalLabel">Login</h5>
        <button #signinClose type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="signinForm">
          <div *ngIf="signinErrorMessage" class="alert alert-danger alert-dismissible fade show" role="alert">
            {{signinErrorMessage}}
            <button (click)="onDismissAlert()" type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="form-group">
            <input formControlName="username" type="text" class="form-control" name="username" placeholder="Username">
            <small
              *ngIf="signinValidationError['username']"
              class="form-text text-danger">{{signinValidationError['username']}}
            </small>
          </div>
          <div class="form-group">
            <input formControlName="password" type="password" class="form-control" name="password" placeholder="Password">
            <small
              *ngIf="signinValidationError['password']"
              class="form-text text-danger">{{signinValidationError['password']}}
            </small>
          </div>
          <div class="form-check">
            <label class="form-check-label">
              <input type="checkbox" class="form-check-input">
              Remember me
            </label>
          </div>
          <button (click)="onSignin()" type="submit" class="btn btn-primary btn-display">Signin</button>
        </form>
        <br>
        <span>No account yet ? <a data-dismiss="modal" data-toggle="modal" href="#signupModal">Register</a></span>
        <span class="reset-span"><a data-dismiss="modal" data-toggle="modal" href="#resetModal">Forget Password ?</a></span>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<!-- Reset Modal -->
<div class="modal fade" id="resetModal" tabindex="-1" role="dialog" aria-labelledby="resetModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="resetModalLabel">Recover Password</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email you used for registration">
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
          </div>
          <button type="submit" class="btn btn-dark btn-block">Send my password recovery link</button>
        </form>
        <br>
        <p>Remember password ? <a data-dismiss="modal" data-toggle="modal" href="#signinModal">login</a></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
