.container-fluid{
  background-color: #0f054b;
  text-align: center;
  color: #f7f7f7;
  background-image: url("../../../assets/images/family_elder.jpg");
  background-repeat: no-repeat;
  height: 100vh;
  background-size: 100% 100%;
  background-position: center;
  overflow: hidden;
}
.container-fluid:before{
  content: "";
  position: absolute;
  left: 0; right: 0;
  top: 0; bottom: 0;
  background: rgba(0,0,0,.5);
}
.header-text{
  color: #ffffff;

  font-family: "Impact, Charcoal, sans-serif";
}
.main-wrapper{
  display: flex;
  align-items: center;
  height: inherit;
}
.inner-wrapper {

}
.inner-wrapper:hover{

}
.header{
  position: fixed;
  top: 0;
  width: 100%;
  font-size: 28px;
  margin-top: 10px;
  margin-left: 10px;
}
.footer{
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  width: 100%;
  bottom: 0;
}

//.modal-dialog {
//  min-height: calc(100vh - 60px);
//  display: flex;
//  flex-direction: column;
//  justify-content: center;
//  overflow: auto;
//  @media(max-width: 768px) {
//    min-height: calc(100vh - 20px);
//  }
//}
.reset-span{
  float: right;
}
.heading-text{
  //text-shadow: 3px 2px blue;
  font-family: "Times New Roman", Times, serif;
  font-size: 60px;
}

.no-radius {
  border-radius: 0;
}

.btn-login {
  color: #fff;
  font-weight: bold;
  background-color: #120591;
  border-color: #120591;
}

.btn-login:hover {
  line-height: 30px;
  color: #fff;
  background-color: #1305da;
  border-color: #1305da;
}
.btn-register {
  color: #120591;
  font-weight: bold;
  background-color: #fff;
  border-color: #fff;
}

.btn-register:hover {
  line-height: 30px;
  color: #120591;
  font-weight: bold;
  background-color: #d6d6d6;
  border-color: #d6d6d6;
}
