#sticky-sidebar {
  //position:fixed;
  //max-width: 20%;
  height: 93.1vh;
  border-radius: unset;
  //background-color: yellow;
}
.bg-display {
  background-color: #42474d;
  color: #d9d9d9 !important;
}
