<div class="row">
  <div style="width: 100%;" class="card text-center text-secondary border-secondary border-top-0 border-bottom-0 bg-display" id="sticky-sidebar">
    <div class="text-center mt-5">
      <img class="img-thumbnail rounded-circle" [src]="userDetails.avatarPath ? userDetails.avatarPath : '../../../assets/images/default.png'" width="200" height="200"
           alt="Card image cap">
    </div>
    <div class="card-body">
      <h4 class="card-title">@{{userDetails.username}}</h4>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item list-group-item-dark">{{userDetails.fullname}}</li>
      <li class="list-group-item list-group-item-dark">{{userDetails.email}}</li>
      <li *ngIf="userDetails.mobile" class="list-group-item list-group-item-dark">{{userDetails.mobile}}</li>
    </ul>
    <div class="card-body">
      <a data-dismiss="modal" data-toggle="modal" href="#editUserModal" class="card-link btn btn-outline-white">Edit Profile</a>
    </div>
  </div>
  <app-edit-user-modal></app-edit-user-modal>
</div>
