#sticky-sidebar {
  //position:fixed;
  //max-width: 20%;
  height: 93.1vh;
  border-radius: unset;
  //background-color: yellow;
}

.container-fluid {
}

.tab-head {

}

.bg-display {
  background-color: #42474d;
  color: #d9d9d9 !important;
}
.text-display{
  color: #0f054b;
}
.btn-outline-display{
  color: #0f054b;
  background-color: transparent;
  background-image: none;
  border-color: #0f054b;
}
.btn-outline-display:hover {
  color: #fff;
  background-color: #0f054b;
  border-color: #0f054b;
}
.btn-outline-white{
  color: #ffffff;
  background-color: transparent;
  background-image: none;
  border-color: #ffffff;
}
.btn-outline-white:hover {
  color: #42474d;
  background-color: #ffffff;
  border-color: #ffffff;
}
