<app-nav-bar></app-nav-bar>
<div class="container-fluid n1">
  <div class="row">
    <div class="col-sm-3 pl-0">
      <app-side-bar></app-side-bar>
    </div>
    <div class="col-sm-9 pl-0 pr-0" id="main">
      <div class="p-3" style="height: 93vh; overflow-y: scroll;">
        <h4>Message board</h4>
        <hr>
        <ul class="list-unstyled">
          <li class="media">
            <img class="mr-3" src="../../../assets/images/desmond.jpg" width="64" height="64" alt="Generic placeholder image">
            <div class="media-body">
              <h5 class="mt-0 mb-1">Johadi <small class="text-muted">Posted 5mins ago</small></h5>
              Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio
              , vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla.
              Donec lacinia congue felis in faucibus <a class="text-success" href="">more...</a>
            </div>
          </li>
          <li class="media my-4">
            <img class="mr-3" src="../../../assets/images/cartoon.jpg" width="64" height="64" alt="Generic placeholder image">
            <div class="media-body">
              <h5 class="mt-0 mb-1">James <small class="text-muted">Posted 30mins ago</small></h5>
              Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio
              , vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla.
              Donec lacinia congue felis in faucibus <a class="text-success" href="">more...</a>
            </div>
          </li>
          <li class="media my-4">
            <img class="mr-3" src="../../../assets/images/desmond.jpg" width="64" height="64" alt="Generic placeholder image">
            <div class="media-body">
              <h5 class="mt-0 mb-1">David <small class="text-muted">Posted 5mins ago</small></h5>
              Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio
              , vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla.
              Donec lacinia congue felis in faucibus <a class="text-success" href="">more...</a>
            </div>
          </li>
          <li class="media my-4">
            <img class="mr-3" src="../../../assets/images/desmond.jpg" width="64" height="64" alt="Generic placeholder image">
            <div class="media-body">
              <h5 class="mt-0 mb-1">Ayishat<small class="text-muted"> Posted 10mins ago</small></h5>
              Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio
              , vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla.
              Donec lacinia congue felis in faucibus <a class="text-success" href="">more...</a>
            </div>
          </li>
          <li class="media my-4">
            <img class="mr-3" src="../../../assets/images/cartoon.jpg" width="64" height="64" alt="Generic placeholder image">
            <div class="media-body">
              <h5 class="mt-0 mb-1">Jimoh <small class="text-muted">Posted 5mins ago</small></h5>
              Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio
              , vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla.
              Donec lacinia congue felis in faucibus <a class="text-success" href="">more...</a>
            </div>
          </li>
          <li class="media my-4">
            <img class="mr-3" src="../../../assets/images/desmond.jpg" width="64" height="64" alt="Generic placeholder image">
            <div class="media-body">
              <h5 class="mt-0 mb-1">Johadi <small class="text-muted">Posted 5mins ago</small></h5>
              Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio
              , vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla.
              Donec lacinia congue felis in faucibus <a class="text-success" href="">more...</a>
            </div>
          </li>
          <li class="media my-4">
            <img class="mr-3" src="../../../assets/images/desmond.jpg" width="64" height="64" alt="Generic placeholder image">
            <div class="media-body">
              <h5 class="mt-0 mb-1">Hadi <small class="text-muted">Posted 5mins ago</small></h5>
              Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio
              , vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla.
              Donec lacinia congue felis in faucibus <a class="text-success" href="">more...</a>
            </div>
          </li>
          <li class="media my-4">
            <img class="mr-3" src="../../../assets/images/cartoon.jpg" width="64" height="64" alt="Generic placeholder image">
            <div class="media-body">
              <h5 class="mt-0 mb-1">Jimoh <small class="text-muted">Posted 5mins ago</small></h5>
              Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio
              , vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla.
              Donec lacinia congue felis in faucibus <a class="text-success" href="">more...</a>
            </div>
          </li>
          <li class="media my-4">
            <img class="mr-3" src="../../../assets/images/desmond.jpg" width="64" height="64" alt="Generic placeholder image">
            <div class="media-body">
              <h5 class="mt-0 mb-1">Sanni <small class="text-muted">Posted 5mins ago</small></h5>
              Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio
              , vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla.
              Donec lacinia congue felis in faucibus <a class="text-success" href="">more...</a>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
