<div class="row">
  <div class="offset-1 col-lg-10">
    <div class="card p-3">
      <div class="card-body">
        <h4>Wixing group</h4>
        <p>20 members</p>
        <hr>
        <ul class="list-group">
          <li class="list-group-item">Jimoh</li>
          <li class="list-group-item">Johadi</li>
          <li class="list-group-item">Morgaan</li>
          <li class="list-group-item">Monica</li>
          <li class="list-group-item">Ellen</li>
          <li class="list-group-item">Jimoh</li>
          <li class="list-group-item">Johadi</li>
          <li class="list-group-item">Morgaan</li>
          <li class="list-group-item">Monica</li>
          <li class="list-group-item">Ellen</li>
          <li class="list-group-item">Jimoh</li>
          <li class="list-group-item">Johadi</li>
          <li class="list-group-item">Morgaan</li>
          <li class="list-group-item">Monica</li>
          <li class="list-group-item">Ellen</li>
          <li class="list-group-item">Jimoh</li>
          <li class="list-group-item">Johadi</li>
          <li class="list-group-item">Morgaan</li>
          <li class="list-group-item">Monica</li>
          <li class="list-group-item">Ellen</li>
        </ul>
      </div>
    </div>
  </div>
</div>
